.socket-settings-button {
    flex: initial !important;
    border-style: outset;
    padding: 2px 10px;
    border-radius: 20px;
    cursor:pointer;
    background-color: #d6d4c7 !important;
}

.socket-settings-button:active {
    border-style: inset;
}

.socket-settings-playlist {
    border-style: none;
    padding: 2px 0px 2px 4px;
    background-color: unset !important;
}

.socket-settings-playlist:active {
    border-style: none;
    color: #222222;
    text-shadow: 0px 0px 4px white;
}
